---
layout: default
title: "Beware of programmers carrying screwdrivers"
---
{% for post in paginator.posts %}
<h1 class="postTitle"><a href="{{ post.url }}">{{ post.title }}</a></h1>
<div class="post">
  {{ post.content }}
  <p class="meta">
    {{ post.date | date: "%b %d, %Y" }} -
    <a id="more" href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}">Comments</a>
    <br />
    {% for c in post.categories %}
    <span class="postCategory">{{ c }}</span>{% if forloop.last != true %},{% endif %}
    {% endfor %}
  </p>
</div>
{% endfor %}

<div class="paginator">
  <div style="float: left">
    {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}/">&larr; Older</a>
    {% endif %}
  </div>
  
  <div style="float: right">
    {% if paginator.previous_page %}
      <a href="
        {% if paginator.previous_page == 1 %}
          /
        {% else %}
          /page{{ paginator.previous_page }}
        {% endif %}">Newer &rarr;</a>
    {% endif %}
  </div>

  <div style="clear: both">
  </div>
</div>

<br />

<script type="text/javascript">
    var disqus_shortname = 'code-logic';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
