<footer class="site-footer">
  <ul class="links">
    {% if site.author.github %}
    <li>
      <a href="https://github.com/{{ site.author.github }}">
        <span class="icon  icon--github">
          {% include icons/github.html %}
        </span>
        <span class="username">{{ site.author.github }}</span>
      </a>
    </li>
    {% endif %}
    {% if site.author.twitter %}
    <li>
      <a href="https://twitter.com/{{ site.author.twitter }}">
        <span class="icon  icon--twitter">
          {% include icons/twitter.html %}
        </span>
        <span class="username">{{ site.author.twitter }}</span>
      </a>
    </li>
    {% endif %}
    {% if site.author.flickr %}
    <li>
      <a href="https://www.flickr.com/photos/{{ site.author.flickr }}">
        <span class="icon  icon--flickr">
          {% include icons/flickr.html %}
        </span>
        <span class="username">{{ site.author.flickr }}</span>
      </a>
    </li>
    {% endif %}
    <li>
      <a href="{{ site.author.uri }}">
        <span class="icon  icon--link">
          {% include icons/link.html %}
        </span>
        <span class="username">blog</span>
      </a>
    </li>
    <li>
      <a href="/feed.xml" rel="alternate" type="application/atom+xml">
        <span class="icon  icon--rss">
          {% include icons/rss.html %}
        </span>
        <span class="username">feed</span>
      </a>
    </li>
  </ul>
</footer>
