<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" media="screen" />
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/feeds/atom.xml" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/rss.xml" />
  </head>
  <body>
    <h1 class="header">
      <a href="/">#</a>
      Beware of programmers carrying screwdrivers
    </h1>
    <div class="content">{{ content }}</div>
    <div class="footer">
      <ul class="links">
        <li><a href="/about.html">About me</a></li>
        <li><a href="http://esm.logic.net/">My real blog</a></li>
        <li><a href="http://www.flickr.com/photos/edward_marshall">Flickr</a></li>
        <li><a href="http://github.com/logic">Github</a></li>
        <li><a href="/feeds/atom.xml" rel="alternate" type="application/atom+xml">Atom</a>/<a href="/feeds/rss.xml" rel="alternate" type="application/rss+xml">RSS</a></li>
      </ul>
    </div>
  </body>
</html>
